body{
	font-family: helvetica;
	background-color: #00FFFF;
}
#p1{
	font-size: 50px;
	text-shadow: 4px 4px 4px red;
	color: brown;
	text-decoration: blink;

}
.jumbotron{
	background-color:#008080;

}
#d1{
	color: yellow;
}
#caro{
	height: 10%;
	width: 100%;

}
#d2{
	border-right: 20%;
	border-left: 20%;
	box-sizing: border-box;
	text-align: center;
	background-color: #008081;
	font-family: cursive;




}
#p2{
	text-decoration: underline;
	font-weight: bolder;
	color: red;

}