body{
	background-color: yellow;
	font-family: forte, cursive;
	font-size: medium; 
}

nav{text-align: center;
background-color: orange;
color: brown;
width: 240px;
margin-left: 850px;
font-size: large;}

a{text-decoration: none;
   color: black;
   font-weight: bolder;
    }

h1{
	padding: 20px;
	font-weight: bolder;
	font-family: Algerian, "Times new roman";
    background-color: blue;
	color: white;
	text-align: center;
	clear: both;
}
article{
	animation: colorname 10s ease-in 4s 5;
	-webkit-animation: colorname 10s ease-in 4s 5;
}

@keyframes colorname{
	0%{color: black;}
	50%{color: orange;}
	100%{color: blue;}}

	@-webkit-keyframes{
	0%{color: black;}
	50%{color: orange;}
	100%{color: blue;}}
h2{padding: 15px;
	font-weight: 600;
	background-color: red;
	font-family: "Baskerville Old Face", courier;
    color: white;
}