body{
	background-color: yellow;
	font-family: forte, cursive;
}

nav{text-align: center;
background-color: orange;
color: brown;
width: 240px;
float: left;}

a{text-decoration: none;
   color: black;
   font-weight: bolder;
    }

h1{
	padding: 20px;
	font-weight: bolder;
	font-family: Algerian, "Times new roman";
    background-color: blue;
	color: white;
	text-align: center;
}
h2{padding: 15px;
	font-weight: 600;
	background-color: red;
	font-family: "Baskerville Old Face", courier;
    color: white;
}