body{
	background-color: purple;
}
h1{ padding: 20px;
	color: green;
	text-align: center;
	border: 1px dashed blue;
	background-color: yellow;
	width: auto;
}
h4{color: red;
text-decoration: underline;
font-weight: bolder;
font-size: 20px;}
h3{color: orange;}
p{font-size: 18px;
	padding-bottom: 15px;
padding-left: 10px;
color: white;}
span{
	color: black;
	font-weight: bold;
}
.btn{
	background-color: black;
	text-align: center;
	margin-left: 80%;
}
a{ 
 text-align: center;
 text-decoration: none;
 color: white; }