body{
	background-color: blue;
	font-family: "Gill Sans Mt";
}
.jumbotron{
    background-color: yellow;
}
span {
	font-weight: bolder;
	font-variant: small-caps;
}
.well{
	background-color: orange;
}
li{
	color: brown;
	font-size:18px;
}
h4{
	font-weight: bolder;
	text-align: right;
}